In [ ]:
#Q1
#creating one variable containing following data like string,list,float,tuple

In [1]:
x="Ashwini",['data science','web development','decode'],45.18,(45,18,"Ashwini")

In [2]:
print(x)

('Ashwini', ['data science', 'web development', 'decode'], 45.18, (45, 18, 'Ashwini'))

In [ ]:
#Q2
#finding the data type of given variable

In [6]:
var1='Ashwini'

In [7]:
type(var1)

str

In [9]:
var2='[DS,ML,PYTHON]'

In [10]:
type(var2)

str

In [11]:
var3=['DS','ML','PYTHON']

In [12]:
type(var3)

list

In [13]:
var4=1

In [14]:
type(var4)

int

In [ ]:
#Q4 Use of operator with example

In [ ]:
# / is use for division

In [15]:
10/2

5.0

In [ ]:
# % it is used to find remainder

In [17]:
8%5

3

In [ ]:
# ** it is used to find square of a number

In [18]:
2**2

4

In [ ]:
#Q4
#Creating a list of length 10 of yuor choise containing multiple data.Using for loop print the element and its data type.

In [22]:
list=['Ashwini',45,18,'Naval Ravikant',45.1,'Data scienctist']

In [23]:
for i in list:
    print(i)

Ashwini
45
18
Naval Ravikant
45.1
Data scienctist

In [ ]:
#Q6
#Create a list of 25 int type data.Using for loop and if-else condition print if the element is divisible by 3 or not.

In [24]:
list=[2,3,6,7,34,56,78,24,9,80,45,68,97,25,89,16,73,81,95,1,19,72,91,84,0]

In [36]:
for i in list:
    if i%3==0:
        print(i,'is divisible by 3')
    else:
            print(i, 'is not divisible by 3')

2 is not divisible by 3
3 is divisible by 3
6 is divisible by 3
7 is not divisible by 3
34 is not divisible by 3
56 is not divisible by 3
78 is divisible by 3
24 is divisible by 3
9 is divisible by 3
80 is not divisible by 3
45 is divisible by 3
68 is not divisible by 3
97 is not divisible by 3
25 is not divisible by 3
89 is not divisible by 3
16 is not divisible by 3
73 is not divisible by 3
81 is divisible by 3
95 is not divisible by 3
1 is not divisible by 3
19 is not divisible by 3
72 is divisible by 3
91 is not divisible by 3
84 is divisible by 3
0 is divisible by 3

In [ ]:
#Q7 
#What do you understand by mutable and unmutable data type.give example for both showuing this property.

In [ ]:
#Mutabele means once it is formed it can be modified or update by using particular index number.
#exaple-List

In [ ]:
#Unmutable means once it is formed it cannot be modified orn updated by calling that particular index number
#example-String

In [ ]:
#Using a while loop,verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [38]:
A=input()
B=input()
count 
while A%B==0:
    C=A%B
    print(c)

 45
 3

TypeError: not all arguments converted during string formatting